.chatMessage {
    color: black;
}

.chatEvent {
    font-style: italic;
    font-weight: bold;
}

.selfUser {
    font-style: italic;
}

.userConnected {
    color: green;
}

.userDisconnected {
    color: red;
}

