<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
    Welcome <b>{{connectedUsername}}</b>!
  </span>
</nav>

<div class="card">
  <div class="card-body">
    <div class="row" style="height: 100%;">
      <div class="col-md-10">
        <h2>
          <b>
            Chat room
          </b>
        </h2>
        <app-chat-window [messages]="messages"></app-chat-window>
      </div>
      <div class="col-md-2">
        <app-users-list [users]="users"></app-users-list>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted">
    <app-send-chat-message class="col-md-12" [connectedUsername]="connectedUsername"></app-send-chat-message>
  </div>
</div>

