<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-text">
    Welcome <b>{{connectedUsername}}</b>!
  </span>
</nav>

<div class="row" style="height: 70%; ">
  <div class="col-md-10" id="chatWindow" style="height: 100%; overflow: scroll; position : relative; bottom:0;">
    <h2>
      <b>
        Chat room
      </b>
    </h2>
    <app-chat-window [connectedUsername]="connectedUsername" [messages]="messages"></app-chat-window>
  </div>
  <div class="col-md-2">
    <app-users-list [users]="users"></app-users-list>
  </div>
</div>
<div class="row fixed-bottom">
  <app-send-chat-message class="col-md-12" [connectedUsername]="connectedUsername"></app-send-chat-message>
</div>
